/* Your CSS Code here. */
.sub{
	background-color: #FFB7C6;
	padding: 1px;
	
}
.main{
	background-color: #11F50B;


}
#r1c1{
.r1c1{
	background-color: #008081;
}
#r1c2{
.r1c2{
	background-color: #D7BED6;
}
#r2c1{
.r2c1{
	background-color: #FE6246;
}
#r2c2{
.r2c2{
	background-color: #3EE0D1;
}
#r3c1{
.r3c1{
	background-color: #EF83EF ;
}
#r3c2{
.r3c2{
	background-color: #9BCC32;

}
.row>div{
	height: 100px;
	border: 2px dotted black;
	
}
.container>div{
	margin: 2px;
}
